
<div id="posts" class="posts-expand">
  {% assign post = page %}
  {% include _macro/post.html %}
  <div class="post-spread">
    {% if site.jiathis %}
      {% include _partials/share/jiathis.html %}
    {% elsif site.baidushare %}
      {% include _partials/share/baidushare.html %}
    {% elsif site.add_this_id %}
      {% include _partials/share/add-this.html %}
    {% elsif site.duoshuo_shortname and site.duoshuo_share %}
      {% include _partials/share/duoshuo_share.html %}
    {% endif %}
  </div>
</div>

<div id="hyvor-talk-view"></div> <script type="text/javascript"> var HYVOR_TALK_WEBSITE = 379; // DO NOT CHANGE THIS var HYVOR_TALK_CONFIG = { url: '{{ page.url | absolute_url }}', id: '{{page.id}}' }; </script> <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>